@import url(./__container/popup__container.css);
@import url(./__close-btn/popup__close-btn.css);
@import url(./__close-icon/popup__close-icon.css);
@import url(./__container/_size/popup__container_size_m.css);

.popup {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  visibility: hidden;
  opacity: 0;
  transition: visibility .6s, opacity .6s ease;
}
